<form method="post" action="{{ path('zone1_delete', {'id': zone_de_loisir.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ zone_de_loisir.id) }}">
    <button class="btn">Delete</button>
</form>
