{% extends 'base.html.twig' %}
{% block PageContent %}


    <a href="{{ path('zone_de_loisir_index') }}">back to list</a>
                    {{ include('zone_de_loisir/_form.html.twig') }}
 


{% endblock %}
